p>img{
    width: 20%;
    height: 180px;
    margin: 10px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 2px 2px 2px 2px yellow;
}

p>img:hover{
    box-shadow: 2px 2px 2px 2px blue;
}