.form-group{
    margin: 10px 2px;

}
.form-control{
    margin: 3px 0px;
    border: none;
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 3px blue;
    color : orangered;
    display : block;
    outline: none;
}
